<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        submitted {{time}} by {{author}} | {{#if isAuthor}}<a href="#/delete" class="deleteLink">delete</a>{{/if}}
    </div>
</article>