<header>
    <span class="logo">☃</span><span class="header">SeenIt</span>
    <div id="profile">
        {{#if isAuth}}
        <span>{{username}}</span>|<a href="#/logout">logout</a>
        {{/if}}
    </div>
</header>