{{>header}}
<section id="viewHome" class="viewHome">
    <h1 class="title">Welcome {{#if isAuth}}, {{username}}{{/if}}!</h1>
    <p class="body-text">Welcome to our advertisement site.</p>
    <p class="body-text">Prodavachnik exercise rework with jQuery, Handlebars.js, Sammy.js</p>
</section>

{{>footer}}